{% extends "base.html" %}

{% block title %} Homepage {% endblock %}

{% block content %}
<h1>Add Project</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<form method="POST">
    <label>Title</label>
    <input type="text" name="title">

    <br><br>

    <label>Description</label>
    <textarea name="description"></textarea>

    <br><br>

    <label>Technology</label>
    <input type="text" name="technology">

    <br><br>

    <a href="{{ url_for ('admin')}}">Back</a>
    <button type="submit">Add Project</button>


</form>
{% endblock %}