{% extends "base.html" %}

{% block title %}{{ project.title }}{% endblock %}

{% block content %}

<div class="container py-5">

    <div class="card shadow-sm border-0">

        <div class="card-body p-4">

            <h1 class="fw-bold mb-3">
                {{ project.title }}
            </h1>

            <p class="text-muted mb-4">
                {{ project.description }}
            </p>

            <div class="mb-4">
                <h5 class="fw-semibold">Technologies</h5>

                {% for technology in technologies %}
                <span class="badge bg-primary me-1">
                    {{ technology.name }}
                </span>
                {% endfor %}


            </div>

            <a href="{{ url_for('public.project_page') }}" class="btn btn-outline-secondary">
                Back to Projects
            </a>

        </div>

    </div>

</div>

{% endblock %}